body {
  background-color: rgb(11, 2, 36);
  padding-top: 60px;
  padding-bottom: 40px;
  /* background-image: url('https://i.imgur.com/PVuExJV.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.3; */
 }  

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  /* background-image: url('https://i.imgur.com/PVuExJV.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  /* opacity: 1.0; */
  }

.main > * {
  padding: 200px;
}


header {
  width: 100vw;
  position: fixed;
  height: 100px;
  background-color: black;
  /* background-color: rgb(3, 3, 53); */
  color: white;
  outline: 1px solid;
  text-align: center;
  top: 0;
  left: 0;
}

.headerbox {
  width: 80%;
  margin: 0 auto;
}

nav {
  width: 80%;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration-color: white;
}

footer {
  width: 100%;
  position: fixed;
  height: 100px;
  background-color: black;
  /* background-color: rgb(3, 3, 53); */
  outline-style: solid;
  outline-color: white;
  outline-width: 1px;
  bottom: 0;
  left: 0;
}

.input-area {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.instructions {
  color: white;
  text-decoration-color: white;
}

.center {
  flex: 4 0 0;
  text-align: center;
  color: hotpink;
}

button {
  border-radius: 15px;
  border-color: darkblue;
  text-decoration-color: darkblue;
  background-color: hotpink;
  margin: 10px;
}

.menu {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 400px;
  color: white;
}

p {
  color: white;
}

.bg {
  position: fixed;
  object-position: center;
  left: 500px;
  bottom: 5px;
  /* opacity: .6; */
}

img {
  opacity: .6;
}

@media all and (min-width: 800px) {
  .main {flex: 4 0px;}
  header {order: 1;}
  .main {order: 2;}
  footer {order: 3;}
}

@media all and (min-width: 800px) {
  .center { flex: 5; }
}

body {
  padding: 2em; 
}