* {
  /*viewport-fit: 100%;**/
}

body {
  background-color: black;
 }  

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  text-decoration-color: hotpink;
}

.main > * {
  padding: 10px;
}

header {
  height: 100px;
  background-color: rgb(3, 3, 53);
  outline-style: solid;
  outline-color: white;
  outline-width: 1px;
}

footer {
  height: 100px;
  background-color: rgb(3, 3, 53);
  outline-style: solid;
  outline-color: white;
  outline-width: 1px;
}

.instructions {
  text-decoration-color: hotpink;
}

.center {
  flex: 4 0 0;
  text-align: center;
  text-decoration-color: hotpink;
}

button {
  border-radius: 15px;
  border-color: darkblue;
  text-decoration-color: darkblue;
  background-color: hotpink;
  margin: 10px;
}

.menu {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 400px;
}

@media all and (min-width: 800px) {
  .main {flex: 4 0px;}
  header {order: 1;}
  .main {order: 2;}
  footer {order: 3;}
}

@media all and (min-width: 800px) {
  .center { flex: 5; }
}

body {
  padding: 2em; 
}